@use 'utilities/colors' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Raleway', sans-serif;
}

//TITLE

.title {
	padding: 0.5em 0 1em;
	font-size: 4rem;
	font-weight: 200;
	text-align: center;
}

.subpageTitle {
	padding-top: 2em;
}

//MOBILE NAV

.mobileNav {
	position: fixed;
	z-index: 10;

	&__button {
		position: fixed;
		right: 0;
		padding: 0.5em 1em;
		font-size: 3.6rem;
		color: #fff;
		border: none;
		background: none;
		z-index: 1000;
		transition: transform 0.3s;
		cursor: pointer;

		i {
			color: $main-color;
		}
	}

	&__items {
		position: fixed;
		left: -100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 100%;
		width: 100%;
		list-style: none;
		background-color: $footerBackground-color;
		z-index: 100;
		transition: transform 0.3s;
	}

	&__item {
		margin: 2em;

		a {
			padding: 0.5em 1em;
			font-size: 3.6rem;
			text-decoration: none;
			color: $main-color;
		}
	}

	.active {
		transform: translateX(100%);
	}

	.hide {
		display: none;
	}
}

.nav {
	display: none;
}

// HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	text-align: flex-start;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/headerSmall.jpg');
	background-size: cover;
	background-position: center;

	&__brand {
		font-size: 2rem;
	}

	&__title {
		font-size: 3rem;
	}

	.ti-chevron-down {
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);
		font-size: 3rem;
		color: $secondary-color;
	}
}

// ABOUTUS

.aboutus {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5.6em 3.2em;

	&__title {
		margin-bottom: 1em;
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__img {
		margin-bottom: 2em;
		width: 100%;
		height: 200px;
		background-image: url('../img/aboutusSmall.jpg');
		background-size: cover;
		background-position: center;
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		font-size: 1.35rem;
		text-align: start;

		h2 {
			margin-bottom: 1em;
			width: 100%;
		}
	}
}

//ADVENTURE

.adventure {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/adventureSmall.jpg');
	background-size: 200%;
	background-position: center;

	&__box {
		padding: 1.5em;
		text-align: center;
		border-top: 1px solid $secondary-color;
		border-bottom: 1px solid $secondary-color;
	}

	&__text {
		font-size: 2rem;
		color: $secondary-color;
	}
}

//OFFERS

.offers {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5.6em 3.2em;

	&__text {
		margin-bottom: 1.2em;
		font-size: 2rem;
		text-align: center;
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	&__card {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 1.5em;
		padding: 4em;
		box-shadow: 0px 2px 5px $footer-color;
		border: 1px solid $footerBackground-color;
		border-radius: 4px;

		&-title {
			margin-bottom: 0.6em;
			font-size: 2.5rem;
			font-weight: normal;
		}

		&-price {
			margin-bottom: 0.5em;
			font-size: 3.5rem;
			font-weight: bold;
		}

		&-options {
			margin-bottom: 1em;
			font-size: 1.5rem;
			list-style: none;
		}

		&-option {
			margin-bottom: 0.2em;
		}

		.ti-menu-2 {
			font-size: 1rem;
		}

		.ti-check {
			color: $green-color;
		}

		&-button {
			padding: 0.5em 4em;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			background-color: $secondary-color;
			box-shadow: 0px 2px 5px $footer-color;
			border: none;
			border-radius: 5px;
			transition: transform 0.3s, background-color 0.3s;
			cursor: pointer;

			&:hover {
				background-color: $footerBackground-color;
			}
		}

		.highlight {
			background-color: $green-color;

			&:hover {
				background-color: $greenHover-color;
			}
		}
	}

	&__more {
		align-self: flex-end;
		margin-top: 0.8em;
		padding: 1em 0;
		font-size: 2.2rem;
		text-decoration: none;
		color: $main-color;

		.ti-chevron-right {
			color: $green-color;
		}
	}
}

//FOOTER

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $footerBackground-color;

	.wrapper {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		padding: 5.6em 3.2em 0 3em;
		width: 100%;
		border-bottom: 1px solid $main-color;
	}

	&__brand {
		margin-bottom: 1.5em;
		font-size: 3rem;
	}

	&__box-title {
		margin-bottom: 1em;
		font-size: 2rem;
	}

	&__item {
		padding: 1em 0;
		font-size: 1.4rem;
		list-style: none;

		&:last-child {
			margin-bottom: 1em;
		}
		a {
			text-decoration: none;
			color: $footer-color;
		}
	}

	&__copyright {
		margin: 1.5em 0;
		font-size: 1.5rem;
		color: $footer-color;
	}
}

// CONTACT

.contactForm {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 2em 6em;
	font-size: 1.6rem;
	&__box {
		display: flex;
		flex-direction: column;
		margin: 0 0.2em 0.5em;

		label {
			margin-bottom: 0.5em;
			text-align: center;
		}

		input,
		textarea {
			padding: 0.6em 1.2em;
			font-size: 1.6rem;
			border: solid 1px $footer-color;
			border-radius: 8px;
		}

		textarea {
			min-height: 150px;
			resize: vertical;
		}

		.errorMsg {
			visibility: hidden;
			padding-left: 1em;
			color: $error-color;
		}

		&.error {
			input,
			textarea {
				border-color: $error-color;
			}
			.errorMsg {
				visibility: visible;
			}
		}
	}

	&-btn {
		padding: 1em 2em;
		font-size: 1.4rem;
		color: $secondary-color;
		background-color: $green-color;
		border: none;
		border-radius: 8px;

		&:hover {
			cursor: pointer;
		}
	}

	&__popup {
		position: absolute;
		top: -300em;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transform: translate(-50%, -50%);
		padding: 1em;
		width: 85%;
		background-color: #fff;
		border: 2px solid $main-color;
		border-radius: 8px;
		z-index: 10;
		transition: top 0.5s;

		&-message {
			font-size: 1.4rem;
		}
		.close-popup-btn {
			margin-top: 1em;
		}

		&.show-popup {
			top: 45%;
		}
	}
}

.popup-shadow {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);

	&.show-shadow {
		display: block;
	}
}

iframe {
	width: 100%;
	z-index: -1;
}

// CAROUSEL
.next,
.prev {
	display: none;
	font-size: 6rem;
	color: $green-color;
}

//404
.error404 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $footerBackground-color;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&-title {
			color: $green-color;
			font-size: 3rem;
		}

		&-img {
			width: 200px;
			margin-bottom: 4em;
		}

		&-description {
			font-size: 2rem;
		}
	}
}

// MEDIA
@media (min-width: 768px) {
	.header {
		&__brand {
			font-size: 4rem;
		}

		&__title {
			font-size: 6rem;
		}
	}

	.mobileNav {
		&__item {
			a {
				font-size: 5rem;
			}
		}
	}

	.aboutus {
		&__img {
			height: 300px;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.adventure {
		height: 300px;

		&__box {
			padding: 2em 10em;
			border: 1px solid $secondary-color;
		}

		&__text {
			font-size: 3rem;
		}
	}

	.offers {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__card {
			margin: 1.5em;
		}
	}

	.footer {
		.wrapper {
			align-items: center;
			flex-direction: row;
			border-bottom: 1px solid $main-color;
		}

		&__brand {
			font-size: 4rem;
		}
	}

	// CONTACT

	.contactForm {
		&__popup {
			padding: 1em 2.5em;
			width: auto;
			&-message {
				font-size: 2rem;
			}
		}
	}

	//404
.error404 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $footerBackground-color;

	&__box {

		&-title {
			font-size: 5rem;
		}

		&-img {
			width: 300px;
		}

		&-description {
			font-size: 3rem;
		}
	}
}
}

@media (min-width: 992px) {
	//NAV

	.mobileNav {
		display: none;
	}

	.nav {
		position: fixed;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		background-color: $secondary-color;
		z-index: 1000;

		.active {
			color: $secondary-color;
			background-color: $main-color;
		}

		&__items {
			display: flex;
			padding: 0 2em;
		}

		&__item {
			padding: 1.6em 1.2em;
			font-size: 1.6rem;
			text-decoration: none;
			color: $main-color;
			background-color: $secondary-color;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: $secondary-color;
				background-color: $main-color;
			}
		}

		&__brand {
			font-size: 3rem;
			text-decoration: none;
			color: $main-color;
			i {
				color: $footer-color;
			}
		}
	}

	.header {
		height: 450px;
		padding-left: 15em;
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/headerBig.jpg');

		&__brand {
			font-size: 2.2rem;
		}

		&__title {
			font-size: 3.4rem;
		}

		.ti-chevron-down {
			display: none;
		}
	}

	.aboutus {
		padding: 5.6em 10em;

		&__box {
			justify-content: space-around;
			align-items: start;
			flex-direction: row;
		}

		&__img {
			width: 40%;
			height: 200px;
			margin-bottom: 2em;
			background-image: url('../img/aboutusBig.jpg');
			background-size: cover;
			background-position: center;
		}

		&__text {
			width: 40%;
			font-size: 1.5rem;
			line-height: 1.4em;

			h2 {
				margin-bottom: 0.5em;
			}
		}
	}

	.adventure {
		height: 300px;
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/adventureBig.jpg');

		&__box {
			padding: 2em 10em;
		}

		&__text {
			font-size: 3.5rem;
		}
	}

	.footer {
		.wrapper {
			align-items: start;
			flex-direction: row;
		}

		&__items {
			display: flex;
		}

		&__box {
			display: flex;
			align-items: start;
			flex-direction: column;
			margin-right: 3em;
		}

		&__item {
			font-size: 1.4rem;
			list-style: none;
		}

		&__copyright {
			margin: 1.5em 0;
			font-size: 1.5rem;
			color: $footer-color;
		}
	}

	// CONTACT

	.contactForm {
		font-size: 2rem;

		&-box {
			input,
			textarea {
				font-size: 2rem;
			}
		}

		&-btn {
			align-self: flex-end;
			width: 25%;
			font-size: 1.8rem;
		}

		&__popup {
			.close-popup-btn {
				align-self: center;
				width: auto;
				font-size: 1.4rem;
			}
		}
	}

	//OFFERSSITE

	//CAROUSEL-nav
	.carousel-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95)), url('../img/offersiteBackground.jpg');
		background-size: cover;
		background-position: center;
	}
	.carousel-btn {
		font-size: 5rem;
		color: $green-color;
		cursor: pointer;

		&:hover {
			color: $greenHover-color;
		}
	}
	.prev {
		margin-left: 1.5em;
	}
	.next {
		margin-right: 1.5em;
	}

	.offersSite {
		display: block;
		margin: 0 auto;
		width: 80%;

		.offers__card {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			scale: 0.6;
			margin: 0;
			background-color: $green-color;
			box-shadow: 0px 2px 5px $footer-color;
			border: 0;
			border-radius: 0 70%;
			transition: transform 0.2s;

			&:nth-child(odd) {
				margin-top: 15em;
			}

			&-title {
				margin-bottom: 0.6em;
				padding-right: 2em;
				font-size: 2.6rem;
				font-weight: normal;
			}

			&-price {
				margin-bottom: 0.5em;
				font-size: 3.5rem;
				font-weight: bold;
			}

			&-options {
				margin-bottom: 1em;
				font-size: 1.5rem;
				list-style: none;
			}

			&-option {
				margin-bottom: 0.2em;
			}

			.ti-menu-2 {
				font-size: 1rem;
			}

			.ti-check {
				color: $darkgreen-color;
			}

			&-button {
				padding: 0.5em 2em;
				background-color: transparent;
				box-shadow: 0px 2px 5px black;

				&:hover {
					opacity: 0.8;
				}
			}
		}

		.offers__card:hover {
			cursor: pointer;
			transform: scale(1.3);
		}

		.highlighted-card {
			background-color: $highlighted-leaf;

			.offers__card-button:hover {
				background-color: $highlighted-leaf;
			}
		}
	}
}

@media (min-width: 1200px) {
	//OFFERSSITE

	//CAROUSEL-nav

	.offersSite {
		margin-bottom: 1em;
		.offers__card {
			&-title {
				font-size: 3rem;
			}

			&-price {
				font-size: 3.8rem;
			}

			&-options {
				margin-left: 1em;
				font-size: 2rem;
			}

			&-option {
				margin-bottom: 0.3em;
			}

			.ti-menu-2 {
				font-size: 2rem;
			}

			&-button {
				margin-left: 2em;
				font-size: 2rem;
			}
		}
	}

		//404
.error404 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $footerBackground-color;

	&__box {

		&-title {
			font-size: 5rem;
		}

		&-img {
			width: 350px;
		}

		&-description {
			font-size: 3rem;
		}
	}
}
}

@media (min-width: 1400px) {
	.nav {
		&__item {
			font-size: 2rem;
		}

		&__brand {
			font-size: 4rem;
		}
	}

	.header {
		height: 550px;
		padding-left: 30em;

		&__brand {
			font-size: 2.4rem;
		}

		&__title {
			font-size: 4rem;
		}
	}

	.aboutus {
		padding: 5.6em 15em;

		&__img {
			height: 400px;
		}

		&__text {
			width: 40%;
			font-size: 2.4rem;
			line-height: 2em;

			h2 {
				margin-bottom: 0.5em;
			}
		}
	}

	.adventure {
		height: 400px;

		&__box {
			padding: 3em 25em;
		}

		&__text {
			font-size: 4rem;
		}
	}

	//CAROUSEL-nav

	.carousel-btn {
		font-size: 5rem;
		color: #7cc44c;
		cursor: pointer;

		&:hover {
			color: #66a13f;
		}
	}

	.offersSite {
		width: 82%;

		.offers__card {
			&-title {
				font-size: 3.2rem;
			}

			&-price {
				font-size: 4rem;
			}
		}
	}
}

.scrollLock {
	height: 100%;
	overflow: hidden;
}
