$main-color: black;
$secondary-color: white;
$footerBackground-color: #f5f5f5;
$footer-color: #616161;
$darkgreen-color: rgb(9, 54, 9);
$green-color: #2bd872;
$greenHover-color: #27c96a;
$exclusive-color: #FF4D58;
$exclusiveHover-color: #f13131;
$highlighted-leaf: #FFDF82;
