$main-color: black;
$secondary-color: white;
$greyedOut-color: #acacac;
$greyedOutBtn-color: #565656;
$footerBackground-color: #f5f5f5;
$footer-color: #616161;
$darkgreen-color: rgb(9, 54, 9);
$green-color: #2bd872;
$greenHover-color: #27c96a;
$error-color: #FF4D58;
$highlighted-leaf: #FFDF82;
